<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Online</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/9809f7387f.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header class="header">
      <h1 class="header_title"><i class="fa-solid fa-book fa-xl"></i> Biblioteca Online</h1>
    </header>
    <nav class="navbar">
      <ul class="nav_list">
        <li class="nav_item"><a class="nav_link" href="/">Home</a></li>
        <li class="nav_item"><a class="nav_link" href="/insertbook">Cadastrar Livro</a></li>
        <li class="nav_item"><a class="nav_link" href="/books">Livros Cadastrados</a></li>
      </ul>
    </nav>
    <main class="main">
      {{{body}}}
    </main>
    <footer class="footer">
      <p>© 2023 Biblioteca Online Company, Inc</p>
    </footer>
  </body>
</html>