<div class="home_container">
    <h2 class="home_title">Bem Vindo a Biblioteca Online</h2>
    <p>Cadastre os seus livros favoritos.</p>
    <p>Coloque o título, autor, gênero, idioma, número de páginas e dê uma nota ao livro adicionado.</p>
</div>